.people {
  position: relative;
  width: 100%;
}

.people .box .list {
  list-style: none;
  padding: 0;
}

.people .box .listItem {
  float: left;
  margin: 5px;
}
.people .box .listItem .img-responsive {
  width: 35px;
  border-radius: 50%;
}
