.Section a, a:hover {
  display: block;
  text-decoration: none !important;
}

.Section .img-responsive {
  width: 100%;
  margin: auto;
}

.Section {
  position: relative;
  background-color: #f0f5f7;
  width: 100%;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Hammersmith One', sans-serif;
  padding: 20px 0;
}

.Section .card {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.Section .title {
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px solid #edf4f7;
}

.Section .box {
  position: relative;
}

.Section .box:first-child {
  margin-top: 0;
}

@media (max-width: 992px) {
  .leftSide, .rightSide {
    display: none;
  }
  .Section {
    padding: 0;
  }
}
